<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Search Result</span></h2>
  <div class="row px-xl-5">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <%= image_tag(handle_url(@result.image_url), class: "img-fluid w-100", style: "min-height : 326px") %>
            <div class="product-action">
              <%= link_to  controller: :static_pages, action: :add_to_cart, :product => (@result.id) do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href=""><%= @result.name %></a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5>$<%= @result.price %></h5>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- Products End -->