<div class="main-top" style="flex-direction: column; align-items: center">
  <h1>Import Products</h1>
  <div class="import-card" style="width: 40%">
    <%= image_tag('import.png') %>
    <h4>Import now ...</h4>
    <%= form_with url: admins_import_path, method: :post do |form| %>
      <%= form.file_field :file, accept: ".csv" %>
      <%= form.button "IMPORT" %>
    <% end %>
  </div>
</div>

