<section class="attendance">
  <div class="attendance-list">
    <h1>Orders</h1>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Costumer Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>01</td>
        <td>Sam David</td>
        <td>03-24-22</td>
        <td>03-24-22</td>
        <td>
          <%= button_to "View", order_path(1), style: "width:90px" %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>