<section class="attendance">
  <div class="attendance-list">
    <h1>Purchase Item</h1>
    <table class="table" id="order-datatable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Order Date</th>
        <th>Customer</th>
        <th>Products</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</section>

<script type="text/javascript">
    jQuery('#order-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": $('#order-datatable').data('source')
        },
        "pagingType": "full_numbers",
        "columns": [
            {"data": "id"},
            {"data": "status"},
            {"data": "quantity"},
            {"data": "order_date"},
            {"data": "user_id"},
            {"data": "products"}
        ]
    })
</script>