<section class="main">
  <section class="attendance">
    <div class="attendance-list">
      <h1>New store</h1>

      <%= render "form", store: @store %>

      <br>

      <div>
        <%= link_to "Back to stores", stores_path, style: "color: #0D98BA" %>
      </div>
    </div>
  </section>
</section>
